* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Removes default padding and margin from body tag */
body {
    margin: 0px;
    padding: 0px;
}

/* Adds margin and padding to just main */
main {
    margin: 8px;
    padding: 8px;
}

/* ------------------------------------------ */
/* ------- Heading and Navigation CSS ------- */
/* ------------------------------------------ */

nav {
    background-color: #77DD77;
}

/* formats the navigation bar */
nav ul {
    display: flex;
    gap: 5em;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

/* removes dots and displays the lines horizontally */
nav li { 
    list-style: none;
}

/* formats the navigation links */
.navlink { 
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.navlink:hover {
    color: rgb(50, 255, 47);
}

/* ------------------------------------------ */
/* ------- Heading and Navigation CSS ------- */
/* ------------------------------------------ */

.highlight {
    color: rgb(50, 255, 47);
}

/* ------------------------------------------ */
/* ---------- About me CSS ---------- */
/* ------------------------------------------ */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid #59ce9595;
  padding: 8px;
  text-align: left;
}   

footer{
  margin: 8px;
  padding: 8px;
}

#format{
    display: flex; align-items: left; gap: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 3%;
    background-color: #e1998c;
}

#textformat{  
    padding-right: 2%;
    font-weight:400;
    font-family: 'Times New Roman', Times, serif
}

dt{
    font-family: Verdana,sans-serif;
    font-weight: 500;
    color: #1e6746;
}

/* ------------------------------------------ */
/* ---------- Application Form CSS ---------- */
/* ------------------------------------------ */

/* Styles for form border */
.form_title{
    text-align: center;
    margin-bottom: 0;
    background-color: #77DD77;
    width: 60%;
    margin: auto;
    padding: 0.53em;
}
.input_form{
    border: solid 0.3em #77DD77;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0.5em;
    width: 60%;
    border-radius: 0 0 0.5em 0.5em;
}

/* Styles for fieldsets and legends */
.form_field{
    border: 0;
}
.form_field legend{
    font-size: larger;
    font-weight: bold;
    color: #77DD77;
    text-transform:uppercase;
}

/* Styles for submit button */
#submit_reset{
    text-align: center;
    padding:0;
    margin-top: -1.2rem;
}
.submit_but, .reset_but{
    color: white;
    border: 0;
    width: 50%;
    padding: 0.73rem;
    background-color: rgb(94, 150, 218);
    font-size: inherit;
    border-radius: 2rem;
    cursor: pointer;
}
.submit_but:hover, .reset_but:hover{background-color: rgb(129, 179, 240);}
.submit_but:active, .reset_but:active{
    width: 48%;
    transition: 0.1s;
}

/* ------------------------------------------ */
/* ---------- Jobs Form CSS ---------- */
/* ------------------------------------------ */

aside {
    float: right;
    text-align: center;
    width: 25%;
    margin: 0 0 1rem 1rem;
    padding: 0.5em;
    border:solid#69c037b4;
    border-radius: 25px;
    background-color: #69c037b4;
}

.RefNum{
    border:solid#69c037b4;
    border-radius: 25px;
    background-color: #69c037b4;


}